* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #606c38;
}

.info-wrapper {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.text-wrapper {
  width: 100%;
  height: 100%;
  padding: 40px;
  row-gap: 40px;
}
textarea {
  width: 100%;
  height: 90%;
  padding: 20px;
  font-size: 30px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #283618;
  resize: none;
  color: #fff;
  border: none;
}
button {
  border: none;
  background-color: #fff;
  padding: 15px 40px;
  border-radius: 4px;
}
textarea:focus {
  outline: none;
}
.box {
  background-color: #283618;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
}

.box h2 {
  font-size: 80px;
  font-weight: 100;
  color: #fefae0;
}

.box p {
  font-size: 20px;
  background-color: #fff;
  color: #283618;
  padding: 5px 20px;
  border-radius: 27px;
}

@media screen and (max-width: 768px) {
  .info-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media screen and (max-width: 576px) {
  .info-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}
